<!DOCTYPE html>
<html lang="en">

<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 3.1
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
  <title>Movie Ticketing System for Single Cinema Complex</title>
  
  <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet">
  <link href="static/css/style.min.css" type="text/css" rel="stylesheet">
  <link href="static/css/page-center.css" type="text/css" rel="stylesheet">

</head>

<body class="cyan">
  <!-- <div id="login-page" class="row"> -->
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" action="/addshow/submit" method="POST">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Add Show</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <select name="hall" class="browser-default">
              <option value="" disabled>Hall</option>
              {% for hall in halls %}
              <option value="{{ hall['hid'] }}">{{ hall['h_name'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <select name="movie" class="browser-default">
              <option value="" disabled>Movie</option>
              {% for movie in movies %}
              <option value="{{ movie['mid'] }}">{{ movie['title'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <input id="time" name="time" type="datetime"> Timings </input>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12">Add Show</button>
          </div>
        </div>
         <div class="row">
        </div>

      </form>
    </div>
  <!-- </div> -->



  <!-- jQuery Library -->
  <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
  <!--materialize js-->
  <script type="text/javascript" src="static/js/materialize.min.js"></script>
  
</body>
</html>