<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Ticketing System for Single Cinema Complex</title>
  
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/page-center.css') }}" type="text/css" rel="stylesheet">

</head>

<body class="cyan">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" action="/reg/submit" method="POST">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">Movie Ticket Booking System for Single Cinema</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <input name="fname" id="fname" type="text">
            <label for="fname" class="center-align">First Name</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <input name="lname" id="lname" type="text">
            <label for="lname" class="center-align">Surname</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <input name="email" id="email" type="text">
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <!-- <i class="mdi-action-lock-outline prefix"></i> -->
            <input name="password" id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <input name="ph" id="ph" type="text" maxlength="10">
            <label for="ph" class="center-align">Phone</label>
          </div>
        </div>

<!--         {% if incorrect == True %}
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small">Incorrect Username or Password!</p>
          </div>
        </div>
        {% endif %}
 -->
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12">Register</button>
          </div>
        </div>
        <div class="row">
        </div>
      </form>
    </div>
  </div>



  <!-- jQuery Library -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <!--materialize js-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  
</body>
</html>