<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Ticketing System for Single Cinema Complex</title>
  
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/page-center.css') }}" type="text/css" rel="stylesheet">

</head>

<body class="cyan">
  
  <div class="col s12 card-panel">
    <form class="login-form" action="/getseats" method="POST">
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Book Ticket for "{{movie['title']}}"</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <select name="hall" class="browser-default">
            <option value="" disabled>Choose Hall</option>
            {% for show in shows %}
            <option value="{{movie['mid']}},{{show['hid']}},{{show['time']}}">{{ show['h_name']}} {{ show['time'].strftime('%d-%m-%Y %H:%M') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <button type="submit" class="btn waves-effect waves-light col s12">Choose Seats</button>
        </div>
      </div>
      <div class="row">
      </div>
    </form>
  </div>

  <!-- jQuery Library -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <!--materialize js-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  
</body>
</html>