<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Ticketing System for Single Cinema Complex</title>
  
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/page-center.css') }}" type="text/css" rel="stylesheet">

</head>

<body class="cyan">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" action="/payment/success" method="POST">
        <input type="text" id="res" name="res" hidden required value="{{res}}">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">PAYMENT INVOICE</p>
          </div>
        </div>
            <blockquote>
              You have booked {{res['num'][0]}} Platinum Seats for Rs. 250 each. <br>
              You have booked {{res['num'][1]}} Gold Seats for Rs. 200 each. <br>
              You have booked {{res['num'][2]}} Silver Seats for Rs. 150 each. <br>
              Your total bill is Rs. {{res['cost']}}.
            </blockquote>

<button type="submit" class="btn waves-effect waves-light col s4 offset-s4">Pay</button>    

        <div class="row">
        </div>

      </form>
    </div>


  <!-- jQuery Library -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <!--materialize js-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

  
</body>
</html>