{{res}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Movie Ticketing System for Single Cinema Complex</title>
  
  <!-- <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/style.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/page-center.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/seats.css') }}" type="text/css" rel="stylesheet">

</head>

<body class="cyan">
    <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="A1" />
          <label for="A1">A1</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A2" />
          <label for="A2">A2</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A3" />
          <label for="A3">A3</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A4" />
          <label for="A4">A4</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A5" />
          <label for="A5">A5</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A6" />
          <label for="A6">A6</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A7" />
          <label for="A7">A7</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A8" />
          <label for="A8">A8</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A9" />
          <label for="A9">A9</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="A10" />
          <label for="A10">A10</label>
        </li>
      </ol>

  <!-- jQuery Library -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <!--materialize js-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  
</body>
</html>