<!DOCTYPE html>
<html lang="en">

<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 3.1
  Author: GeeksLabs
  Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->

<head>
  <title>Movie Ticketing System for Single Cinema Complex</title>
  
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/page-center.css') }}" type="text/css" rel="stylesheet">

</head>

<body class="cyan">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <div class="row">
        <div class="input-field col s12">
          <p class="center login-form-text">{{movie[0]['title']}}</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="https://thumb7.shutterstock.com/display_pic_with_logo/64260/288277301/stock-photo-balanced-diet-cooking-culinary-and-food-concept-close-up-of-vegetables-fruits-and-meat-on-288277301.jpg">
              <span class="card-title">{{movie[0]['title']}}</span>
            </div>
            <div class="card-content">
              <p>{{movie[0]['descr']}}</p>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="btn waves-effect waves-light col s12" href="{{ url_for('book_movie', mid=movie[0]['mid']) }}">Book</a>
          </div>
        </div>
    </div>
  <!-- jQuery Library -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
  <!--materialize js-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  
</body>
</html>